.wrapper{
    display: flex;
    justify-content: center;
}
.main-wrapper{
    width: 40%;
}

.login-button {
    width: 100%;
    border-radius: 5px;
  }

  .login-button:hover {
    background-color: #007bff;
    border-color: #007bff;
  }